
* {
    box-sizing: border-box;
  }
  body{
    margin: 0;
    padding: 0;
    background-color: #e5d9f3ce;
}
#dltBtn{
    background-color: rgb(173, 107, 235);
    border-style: hidden;
    width: 90px;
    height: 32px;
    color: aliceblue;
    padding: 10px;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
}
#box{
    border-radius: 6px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(140, 140, 192);
    width: 320px;
    height: 32px;
    float: left;
    margin: 0;
    border: none;
    padding: 10px;
    font-size: 16px;
}

#submit{
    background-color: rgb(173, 107, 235);
    border-style: hidden;
    width: 90px;
    height: 32px;
    color: aliceblue;
    padding: 10px;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
 
}
#submit:hover{
    background-color: rgb(135, 33, 218);
}
#search{
    background-color: rgba(156, 106, 194, 0.664);
    padding: 50px 30px;
   
}

#font{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 15, 135);
    font-weight: lighter;
}
ul li{
    padding: 100px 90px 150px 70px;
    background-color: rgba(134, 67, 99, 0.411);
    cursor: pointer;
    position: relative; 
    transition: 0.2s;
    list-style-type: none;
    float: left;
}
li{
   display: inline;
   margin: 10px;
   position: relative;
  
}
ul li:hover{
    background-color: rgba(107, 18, 61, 0.829);
   
}
ul li.checked {
    background: #8b028b;
    color: #fff;
    text-decoration: line-through;
  }
  ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }


  #btn1{
position: absolute;
top: 1px;
left: 100px;

  }
 .close{
    position: absolute;
    right:0;
    top:0;
    padding: 12px 16px 12px 16px;
 }
