
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: rgb(36, 36, 88);
    
}
.logo{
    width: 60px;
    margin: 15px;
}
.container{
    padding: 10px 10%;
}
 nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    position: relative;
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    font-weight: 500;
}
nav ul li a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -7px;
    width: 0;
    height: 3px;
    background: white;
    transition: 0.5s ;
}
nav ul li a:hover::after{
   width: 100%;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
    color: rgb(206, 204, 202);

}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span{
    color: rgb(228, 13, 85);
}
/*** aboute kısmı ***/
#about{
    margin: 180px;
    padding: 80px 0;
    color: rgb(255, 255, 255);
    font-size: 25px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 p{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 45px;
    

}
.about-col-1 h2{
    padding: -15px;
    color:  rgb(206, 204, 202);
   text-decoration:underline rgb(228, 13, 85);
    
}
.about-col-2{
    flex-basis: 60%;
    font-size: 20px;
    text-align: left;
    position: relative;
    top: 80px;
}
.skills-s{
    margin: 180px;
}
.textSkills h2{
   font-size: 35px;
   color:  rgb(206, 204, 202);
   text-decoration:underline rgb(228, 13, 85) ;
   
}
.textSkills p{
font-size: 20px;
color: rgb(206, 204, 202);
padding: 20px;
}

.wrapper{
    display: flex;
    width: 70%;
    justify-content: space-around;
}

.skills img{
    height: 100px;
}

.skills{
    width: 140px;
    height: 160px;
    padding: 2rem 1rem;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
    transition: 0.5s ease-in-out;
}
.skills:hover{
    transform: translateY(20px);
}
.skills::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;width: 100%;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, rgba(36, 36, 88, 0.473),  rgba(206, 204, 202, 0.473)) ;
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
}
.skills:hover:before{
    opacity: 1;
}
.skills .info{
    position: fixed;
    width: 300px;
    color: #ffffff;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
}
.skills:hover .info{
    opacity: 1;
    transform: translateY(0px);
    color: #ffffff;
}
.skills .info p{
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 20px;
}
.work-text{
  margin:180px;
}
.work-text h2{
    font-size: 30px;
    padding: -15px;
    color:  rgb(206, 204, 202);
   text-decoration:underline rgb(228, 13, 85);
}
.work-text p{
    font-size: 20px;
    color: rgb(206, 204, 202);
    padding: 20px;
}
.work{
    padding: 80px;
  
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    
}

.project img{
    height: 100px;
}

.project{
    padding: 20px;
    width: 250px;
    height: 150px;
    margin: 25px;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
    transition: 0.5s ease-in-out;
}
.project:hover{
    transform: translateY(20px);
}
.project::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, rgba(36, 36, 88, 1),  rgba(206, 204, 202, 0.473)) ;
    z-index: 1;
    transition: 0.5s all;
    opacity: 0;
}
.project:hover:before{
    opacity: 1;
}
.project {
    display: inline-block;
    margin: 20px;
    width: 300px;
  }
  
  .project img {
    width: 100%;
    height: auto;
  }
  

  .btn {
   
    display: block;
    background-color: rgb(206, 204, 202);
    color: rgb(228, 13, 85);
    padding: 10px;
    text-align: center;
    margin-top: 10px;
    border-radius: 5px;
    text-decoration: none;
    opacity: 0;
    
  }

  .project:hover .btn{
    opacity: 1;
    cursor: pointer;
    z-index: 1;
  }
  

.social-buttons {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  
  .social-buttons a {
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
    color: #fff;
    background-color: #333;
    width: 50px;
    height: 50px;
    line-height: 50px; /*özelliği, buton içindeki içeriği dikey olarak ortalar*/
    text-align: center;
    border-radius: 50%;
    transition: background-color 0.3s ease;
  }
  
  .social-buttons a:hover {
    background-color: #666;
  }
 .containers{
    position: relative;
    margin: 140px;
    left: 140px;
    background-color: #0e0c0c6b;
    color: white;
    padding: 2rem;
    width: 700px;
 }
 .containers h3{
    margin-bottom: 2rem;
    font-size: 30px;
    padding: -15px;
    color:  rgb(206, 204, 202);
   text-decoration:underline rgb(228, 13, 85);
 }
.form-control {
margin-bottom: 2rem;
position: relative;
}
.form-control input , 
.form-control textarea{
    padding: 0.5rem;
    /*width: 100%;*/
    width: 600px;
    background: transparent;
    border: 0;
    border-bottom: 1px solid rgb(228, 13, 85);
    color: #fff;
    font-size:1 rem ;
    transition:300ms all ;
   -webkit-transition: 300ms all ;
    -moz-transition:  300ms all;
    -ms-transition: 300ms all;
    -o-transition:  300ms all;
}
.form-control input~label , 
.form-control textarea~label{
   position: absolute;
   left: 0;
   top:0;
   pointer-events: none;
   padding: 0.5rem;
   transition:300ms all ;
   -webkit-transition: 300ms all ;
    -moz-transition:  300ms all;
    -ms-transition: 300ms all;
    -o-transition:  300ms all;
}

.form-control input:focus ~ label , 
.form-control textarea:focus ~ label ,.form-control input:valid ~ label , 
.form-control textarea:valid ~ label{
   top: -1.5rem;
   color:rgb(211, 20, 236) ;
   font-size: 0.8rem;
}

.form-control input:focus ~ label , 
.form-control textarea:focus ~ label , .form-control input:valid ~ label , 
.form-control textarea:valid ~ label{
   top: -1.5rem;
   color:rgb(202, 202, 202) ;
   font-size: 0.8rem;
}
.form-control input[type="submit"] {
    background-color: rgba(228, 13, 85, 0.562);
    color: white;
    border:0;
    margin-top: 2rem;
    cursor: pointer;
    text-transform: uppercase;
    transition: 300ms all;
    -webkit-transition: 300ms all ;
    -moz-transition:  300ms all;
    -ms-transition: 300ms all;
    -o-transition:  300ms all;
    padding: 1 0rem;
}
.form-control input[type="submit"]:hover {
    background-color: rgb(228, 13, 85);
}
@media screen and (max-width:500px) {

   body{
    margin: 0;
    padding:0;
   }

   .header {
    position: relative;
    display: flex;
    font-size: 6px;
    right:32px;
    }
    .header  ul {
        text-decoration: none;
       background-color: rgb(36, 36, 88);
       display: flex;
       box-shadow: 0px 8px 16px 0px rgba(206, 204, 202, 0.37);
    }
   #home h1{
    font-size: 20px;
    margin: 10px;
   }
   #home p{
    font-size: 15px;
    margin: 10px;
   }

   #about{
    margin-top: -20;
    margin-bottom: 10px;
    margin-left: 6px;
    margin-right: 6px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top-width: 20px;
    margin-top: 10px;
    
   }

   #about .row h2{
    font-size: 20px;
    
   }
   #about .row .about-col-1 p{
    text-align: justify;
    font-size: 12px;
    letter-spacing: 0px;
    width: 150px;
    height: 50px;
    }
   #about .row .about-col-2 {
    text-align: justify;
   font-size: 12px;
   letter-spacing: 0px;
   color:  rgb(206, 204, 202);
   margin: 15px;
   left: -15px;
   margin-top: 5px;

   } 
   .textSkills{
    width: 200px;
    height: 70px;
   }
   .textSkills h2{
    text-align: justify;
    font-size: 20px;
    width: 200px;
    height:50px;
    margin: -40px;
   }

   .textSkills p{
    font-size: 12px;
    width: 200px;
    height: 80px;
    margin: -40px;
   }
   #skillss{
    width:150px ;
    height: 150px;
    padding: 0;
    margin: 0;
   }
    .wrapper{
        display: flex;
        flex-direction:column;
        align-items: center;
        width:200px ;
        margin: 0;
        padding: 0px;
        
    }
   
    #workk{
        width: 200px;
        height: 90px;
        margin: 450px;
        
    }
    #workk h2{
        font-size: 20px;
        margin: -120px;
    }
    #workk p{
        font-size: 12px;
        margin: -20px;
    }
    .work{
        padding: 0;
        display: flex;
        flex-direction:column;
        align-items: center;
        width: 200px;
    }
 
    .work .project{
      padding: 20px;
        width: 150px;
        height: 150px;
        margin: 45px;
        position: relative;
    }
    .project .btn{
        display: flex;
        margin: 10px;
        background-color: rgb(206, 204, 202);
        color: rgb(228, 13, 85);
        padding: 10px;
        margin-top: 10px;
        border-radius: 5px;
        text-decoration: none;
    }
     
    .containers{
        position: relative;
        margin: 5rem;
        left: 5rem;
        background-color: #0e0c0c6b;
        color: white;
        padding: 1rem;
        width: 190px;
        height:400px;
        margin: 0;
        
     }
     .containers{
      margin: 25px;
      position: 10px;
     }
     .containers h3{
        margin-bottom: 2rem;
        font-size: 20px;
        padding: -15px;
        color:  rgb(206, 204, 202);
       text-decoration:underline rgb(228, 13, 85);
     }
    .form-control {
    margin-bottom: 2rem;
    position: relative;
    }
   
    .social-buttons a {
        display: block;
        margin-bottom: 10px;
        font-size: 15px;
        color: #fff;
        background-color: #333;
        width: 32px;
        height: 32px;
        line-height: 32px; /*özelliği, buton içindeki içeriği dikey olarak ortalar*/
        text-align: center;
        border-radius: 50%;
        transition: background-color 0.3s ease;
      }
      .form-control input , 
      .form-control textarea{
          padding: 0.5rem;
          width: 150px;
          font-size:1 rem ;
          
      }
  
}