body{
    background: #949292;
}
.container{
    background: #fff ;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background: darkseagreen;
    color: #fff;
    border: solid 1px #c52727;
   margin-bottom: 1rem;
}


.row{
    display: flex;
    gap: 1rem;
}